/*body{
	background: url("../img/RCmenuBG_monitor.png") no-repeat;
	background-size:cover;
}*/
.navbar-rcians .navbar-brand{
	background: url("../img/creative-design-illustration.png") no-repeat;
	background-size: 83px;
	background-position-y: -5px;
	padding-left: 100px;
}
.box img{
	text-align:center;
	width: 100%;
}
.box {
	height:auto;
	background:#FFF;
	margin:40px auto;
}
<<<<<<< HEAD

=======
/*.box1 h3{
	text-align:center;
	position:relative;
	top:80px;
}*/
.box1 {
	width:70%;
	height:auto;
	background:#FFF;
	padding: 50px;
	margin:40px auto;
}
>>>>>>> 747212c7d942a55151fe9391d21fc5728bd0b078
/*==================================================
 * Effect 5
 * ===============================================*/
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

a.navbar-brand{
	margin-left:30px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
#meals_container{
	background-color:#3399FF;
	width:70%;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	border-radius:15px;
}

#meals_container input{
	width:220px;
}

#meals_container .form-group{
	display:inline-block;
}

.box.effect8{
	margin-left:200px;
}
.box.effect8 input{
	width:220px;
}

.box.effect8 .form-group{
	display:inline-block;
}

